@model jQueryAjaxCRUDinASP.NETCoreMVC.Models.TransaccionModel

@{
	ViewData["Title"] = "Edit";
	Layout = null;
}

<div class="row">
	<div class="col-md-12">
		<form asp-action="AddOrEdit" asp-route-id="@Model.TransaccionId" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="TransaccionId" />
			<input type="hidden" asp-for="Fecha" />
			<div class="form-group">
				<label asp-for="NumeroCuenta" class="control-label"></label>
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">#</div>
					</div>
					<input asp-for="NumeroCuenta" class="form-control" />
				</div>
				<span asp-validation-for="NumeroCuenta" class="text-danger"></span>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label asp-for="NombreBeneficiario" class="control-label"></label>
						<input asp-for="NombreBeneficiario" class="form-control" />
						<span asp-validation-for="NombreBeneficiario" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label asp-for="NombreBanco" class="control-label"></label>
						<input asp-for="NombreBanco" class="form-control" />
						<span asp-validation-for="NombreBanco" class="text-danger"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label asp-for="CodigoSWIFT" class="control-label"></label>
						<input asp-for="CodigoSWIFT" class="form-control" />
						<span asp-validation-for="CodigoSWIFT" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label asp-for="Monto" class="control-label"></label>
						<div class="input-group">
							<div class="input-group-prepend">
								@*<div class="input-group-text">*@
								<span class="input-group-text">$</span>
								@*</div>*@
							</div>
							<input asp-for="Monto" class="form-control" />
						</div>
						<span asp-validation-for="Monto" class="text-danger"></span>
					</div>
				</div>
			</div>
			<hr>
			<div class="form-group d-grid gap-2">
				<input type="submit" value="Enviar" class="btn btn-primary blockquote" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
